img{
    width: 200px;
    height: 200px;
}
ul{
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: darkred;
}

.recipe-card{
width: 400px;
background-color: #FFFAFA;
text-align: center;
}
.recipe-content {
text-align: left;
}

h2,
a{
    text-transform: uppercase;
}

.recipe-card.feature{

    border: 2px solid darkred;
}
ul li h2 {
    font-size: 16px;
}

.recipe-card a {
    background-color: #fc9400;
    color: white;
    text-decoration: none;
}