.click-me, .no-click-me{
    font-size: 26px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
#clickMe{
    background-color: black;
    color: white;
}
#noMe{
    background-color: yellow;
}